{% extends 'base.html.twig' %}

{% block title %}Créer son compte{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="wrapper fadeInDown col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card shadow card-signin my-5">
                <div class="card-body">
                    <div class="fadeIn first mt-2 d-flex justify-content-center">
                        <i class="far fa-user-circle fa-4x text-info text-center"></i>
                    </div>
                    {% for flashError in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
                    <h1 class="text-center text-muted h5 mb-3 font-weight-bold">Créer son compte</h1>
                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.lastName) }}
                        {{ form_row(registrationForm.firstName) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        {{ form_row(registrationForm.agreeTerms)}}

                        <button type="submit" class="btn">S'enregistrer</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}